html,
body {
  font-family: Playfair Display, serif;
  margin: 0;
  scroll-behavior: smooth;
}
.penuh {
  max-width: 100%;
  box-shadow: 0px 2px 10px;
}
header {
  max-width: 1250px;
  margin: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation a {
  color: #3b4454;
  text-decoration: none;
  padding: 0 10px;
}
.navigation a:hover {
  color: #ba441b;
  text-decoration: underline;
  padding: 0 10px;
}
.text {
  font-size: 17px;
}
.head {
  color: #ba441b;
  font-size: 25px;
}
.logo {
  margin: 0 10px;
  padding: 5px 10px;
  color: white;
  text-align: center;
  background-color: #ba441b;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.button {
  text-decoration: none;
  background-color: #ba441b;
  color: #fff;
  border-radius: 8px;
  padding: 10px 24px;
}
.isi {
  max-width: 1250px;
  margin: 50px 50px 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.awalan {
  font-size: 60px;
}
.coklat {
  color: #ba441b;
}
p {
  font-size: 20px;
  margin: 10px 0 30px 0;
  word-spacing: 5px;
}
.button3 {
  text-decoration: none;
  background-color: #fff;
  color: #ba441b;
  border: 2px solid #ba441b;
  border-radius: 8px;
  padding: 10px 24px;
}
.button:hover {
  background-color: #fff;
  color: #ba441b;
  border: 2px solid #ba441b;
  border-radius: 8px;
  padding: 10px 24px;
}
.button3:hover {
  background-color: #ba441b;
  color: #fff;
  border-radius: 8px;
  padding: 10px 24px;
}
.isi2 {
  max-width: 1250px;
  margin: 100px 50px -50px 50px;
  text-align: center;
}
h2 {
  font-size: 90px;
  margin-top: -10px;
  margin-bottom: 0;
}
h4 {
  margin-bottom: 0;
  color: #ba441b;
}
.produk {
  max-width: 1250px;
  margin: 100px 50px 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.alami {
  background-color: #f6f7f9;
  width: 300px;
  height: 300px;
  border: 2px solid #000000a7;
  border-radius: 10%;
  opacity: 0.8;
}
h5 {
  font-size: 25px;
  margin: 40px 0 0 20px;
}
.produk p {
  margin: 20px 0 20px 20px;
}
.button4 {
  margin: 40px 0 20px 20px;
}
.alami:hover {
  box-shadow: 0px 0px 5px 2px black;
}
.tentang {
  max-width: 1250px;
  margin: 100px 50px 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tentang h4 {
  color: #ba441b;
}
h6 {
  font-size: 60px;
  margin-top: 10px;
  margin-bottom: 80px;
}
.tentang p {
  margin-top: -50px;
}
.tentang span {
  color: #ba441b;
}
.tentang ul {
  font-size: 20px;
  list-style-type: none;
  padding-left: 0;
}
.tentang li::before {
  content: "✔";
  color: green;
  font-weight: bold;
  margin-right: 8px;
}
.foto {
  max-width: 1250px;
  margin: 50px 250px 20px 250px;
  display: flex;
}
.pertama {
  background-color: red;
  width: 300px;
  height: 200px;
  background-image: url(kopi/mocha.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10%;
  margin-right: 50px;
}
.kedua {
  background-color: red;
  width: 300px;
  height: 200px;
  background-image: url(kopi/machiato.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10%;
}
.ketiga {
  background-color: red;
  width: 300px;
  height: 200px;
  background-image: url(kopi/affogato.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10%;
  margin-left: 50px;
}
.keempat {
  background-color: red;
  width: 300px;
  height: 200px;
  background-image: url(kopi/coldbrew.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10%;
  margin-right: 50px;
}
.kelima {
  background-color: red;
  width: 300px;
  height: 200px;
  background-image: url(kopi/flatwhite.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10%;
}
.keenam {
  background-color: red;
  width: 300px;
  height: 200px;
  background-image: url(kopi/redeye.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10%;
  margin-left: 50px;
}
.tulisan h6 {
  color: #ba441b;
  text-decoration: undrline;
  max-width: 1250px;
  margin: 100px 50px 50px 50px;
  font-size: 60px;
  text-align: center;
}

